/* body background gradient and color */
body{
    background: linear-gradient(to top right, white, orange);
}

/* main background color white and center all elements */
main{
    background-color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Main positioning*/
#buttons{
    border: 2px solid black;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Center table */
table, th, td{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid orange;
}

/* All Buttons Style */
button{
    border-radius: 25px;
    font-size: 25px;
}

/* Flip Button Background */
#flip-btn{
    background: linear-gradient(to top right, white, lightblue);
}

/* Clear Button Background */
#clear-btn{
    background: linear-gradient(to top right, white, orange);
}

/* Flip Button Hover Style */
#flip-btn:hover{
    background:blue;
}

/* Clear Button Hover Style */
#clear-btn:hover{
    background:orange;
}